<% if params[:quick_add] %>
  <%= turbo_frame_tag "quick-add-form" do %>
    <%= render "form", contact: @contact, quick_add: true %>
  <% end %>
<% else %>
  <div class="max-w-xl">
    <h1 class="text-2xl font-bold text-gray-900 mb-6">New Contact</h1>
    <%= render "form", contact: @contact, quick_add: false %>
  </div>
<% end %>
